body {
    padding-left:0;
   
}
.alteracao {
    float: left;
    max-width: 39%;
    padding: 0;
    margin-left: 1%;
}
.gallery {
    float: left;
    max-width: 59%;
    padding: 0;
    margin-right:1%;
}
.imagens {
    float: left;
    width: 25%;
    padding: 0;
}
img {
    width:99%;
    height:100px;
}
